@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/Content/assets/apuestas.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Apuestas</h2>
            <p>Pon a prueba tu suerte! Creés que podés ganar? Intentalo!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/Content/assets/carreras.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Simulaciones de carreras</h2>
            <p>Nunca antes visto! Ahora en lugar de ir al hipódromo, tus carreras se realizan online y digitales, creá tu cuenta, entrá en una carrera, realizá tu apuesta y ganá!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="~/Content/assets/caballos.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Caballos</h2>
            <p>Elige tu caballo más adecuado y prueba tu suerte.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>