@model CarreraCaballos.Database.Carrera

@{
    ViewBag.Title = "Eliminar carrera";
}

<h2>Eliminar</h2>

<h3>Esta seguro de querer eliminar ésta carrera?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
