@model CarreraCaballos.Database.Carrera

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Esta seguro de querer eliminar?</h3>
<div>
    @Html.Partial("Details")

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
