@model CarreraCaballos.Database.Carrera

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("Details")
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
