@model CarreraCaballos.Database.Apuesta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Esta seugor de eliminar esto?</h3>
<div>
    <h4>Apuesta</h4>
    <hr />
    @Html.Partial("Detail")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
