@model CarreraCaballos.Database.Apuesta

@{
    ViewBag.Title = "Eliminar apuesta";
}

<h2>Eliminar apuesta</h2>

<h3>Esta seguro de eliminar su apuesta?</h3>
<div>
    @Html.Partial("Detail")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
