@model CarreraCaballos.Database.Apuesta

@{
    ViewBag.Title = "Detalles de apuesta";
}

<h2>Detalles de apuesta</h2>


<div>
   @Html.Partial("Detail")
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
