@model CarreraCaballos.Database.Caballo

@{
    ViewBag.Title = "Borrar caballo";
}

<h2>Borrar caballo</h2>

<h3>Está seguro que desea borrar al pobre caballito? :'(</h3>
<hr />
<div>
    <h4>Caballo</h4>
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
